/* PlantDashboard.css */

/* Styles for the dashboard page */
.dashboard-page {
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}

/* Styles for the container of plant information and navigation buttons */
.plant-info-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; /* Allow flex items to wrap to next line */
}

/* Styles for the plant information section */
.plant-info {
  background-color: rgba(227, 224, 196, 0.5);
  padding: 20px;
  border-radius: 5px;
  width: calc(50% - 10px); /* Adjust width to fit half of the container */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

/* Styles for the plant image */
.plant-image {
  width: 500px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 0; /* Add spacing between image and text */
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 40px;
}

/* Navigation Buttons */
.navigation-buttons {
  width: 50px;
  max-width: 600px;
  display: flex;
  justify-content:right; /* Space between the buttons */
  margin-top: 10px;
  margin-left: 1090px;
}

.prev-button, .next-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #626a22;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  flex: 1;
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.prev-button:hover, .next-button:hover {
  background-color: #a17d60;
}